<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.diana.testrhythmer">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".beginnerActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".HowToPlayL"
            android:screenOrientation="portrait" />
        <activity android:name=".fingerScreenL"
            android:screenOrientation="portrait" />
        <activity android:name=".metromomeL"
            android:screenOrientation="portrait" />
        <activity android:name=".metronomeBA"
            android:screenOrientation="portrait" />
        <activity android:name=".HowToPlayBA"
            android:screenOrientation="portrait" />
        <activity android:name=".fingerScreenBA"
            android:screenOrientation="portrait" />
        <activity android:name=".loginAdvanced"
            android:screenOrientation="portrait" />
        <activity android:name=".logInExpert"
            android:screenOrientation="portrait" />
        <activity android:name=".AdvancedActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Congrats"
            android:screenOrientation="portrait" />
        <activity android:name=".Congrats2"
            android:screenOrientation="portrait" />
        <activity android:name=".ExpertActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".loginDone"
            android:screenOrientation="portrait" />
        <activity android:name=".metronomeAA"
            android:screenOrientation="portrait" />
        <activity android:name=".HowToPlayAA"
        android:screenOrientation="portrait" />
        <activity android:name=".fingerScreenAA"
            android:screenOrientation="portrait" />
        <activity android:name=".metronomeLA"
            android:screenOrientation="portrait" />
        <activity android:name=".HowToPlayLA"
            android:screenOrientation="portrait" />
        <activity android:name=".fingerScreenLA"
            android:screenOrientation="portrait" />
        <activity android:name=".metronomeEA"
            android:screenOrientation="portrait"  />
        <activity android:name=".HowToPlayEA"
            android:screenOrientation="portrait" />
        <activity android:name=".fingerScreenEA"
            android:screenOrientation="portrait" />
        <activity android:name=".metronomeLE"
            android:screenOrientation="portrait" />
        <activity android:name=".HowToPlayLE"
            android:screenOrientation="portrait" />
        <activity android:name=".fingerScreenLE"
            android:screenOrientation="portrait" />
        <activity android:name=".metronomeLD"
            android:screenOrientation="portrait" />
        <activity android:name=".HowToPlayLD"
            android:screenOrientation="portrait" />
        <activity android:name=".fingerScreenLD"
            android:screenOrientation="portrait" />
        <activity android:name=".congrats3"
            android:screenOrientation="portrait" />
    </application>

</manifest>