<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.diana.testrhythmer">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginActivity" />
        <activity android:name=".beginnerActivity" />
        <activity android:name=".HowToPlayL" />
        <activity android:name=".fingerScreenL" />
        <activity android:name=".metromomeL" />
        <activity android:name=".metronomeBA" />
        <activity android:name=".HowToPlayBA" />
        <activity android:name=".fingerScreenBA" />
        <activity android:name=".loginAdvanced" />
        <activity android:name=".logInExpert" />
        <activity android:name=".AdvancedActivity" />
        <activity android:name=".Congrats" />
        <activity android:name=".Congrats2" />
        <activity android:name=".ExpertActivity" />
        <activity android:name=".loginDone" />
        <activity android:name=".metronomeAA" />
        <activity android:name=".HowToPlayAA" />
        <activity android:name=".fingerScreenAA" />
        <activity android:name=".metronomeLA" />
        <activity android:name=".HowToPlayLA" />
        <activity android:name=".fingerScreenLA" />
        <activity android:name=".metronomeEA" />
        <activity android:name=".HowToPlayEA" />
        <activity android:name=".fingerScreenEA" />
        <activity android:name=".metronomeLE" />
        <activity android:name=".HowToPlayLE" />
        <activity android:name=".fingerScreenLE" />
        <activity android:name=".metronomeLD" />
        <activity android:name=".HowToPlayLD" />
        <activity android:name=".fingerScreenLD" />
        <activity android:name=".congrats3"/>
    </application>

</manifest>